/* --------------------------------- Sass Variables --------------------------------- */

$main-background-color: #222222;
$darker-bacground-color: #1e1e1e;
$lighter-background-color: #2b2b2b;
$nav-background-color: #1b1b1b;
$accent-color: #95744c;
$text-color: #888888;
$title-color: white;

$font-family-title: "Playfair Display", serif;
$font-family-sub-title: "Barlow Condensed", serif;
$font-family-text: "Montserrat", serif;

$font-size-xl: 6em;
$font-size-l: 4em;
$font-size-m: 2em;
$font-size-s: 1em;
$font-size-xs: 0.7em;
