/* --------------------------------- Footer --------------------------------- */



.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $main-background-color;
  
  
    a{
    text-decoration: none;
    color: $text-color;
  }


&__apropos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}

&__contact{
  width: max-content;
  text-align: center;

  &__numtel{
    .numtel{
    color: $title-color;
    background-color: transparent;
    font-size: $font-size-m;
    display: flex;
    align-items: center;
    }
    .flaticon-call{
      font-size: $font-size-s;
      padding-right: 0.2em;
    }
  }

  &__iconesReseauxSociaux{
    padding: 1em;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;

    [class*="ti-"]{
      color: $title-color;
      font-size: 2em;
    }
  }
  &__mailHotel{

    .mailhotel{
      color: $title-color;
      background-color: rgba(255,255,255,0);
      text-decoration: underline;
      text-decoration-color: $accent-color;
      font-weight:400;
      text-underline-offset: 0.3em;
    }
  }
}



&__mentionsLégales{
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: $darker-bacground-color;
  order: 1; 
  margin-top: auto;
  }
}



  

