/* --------------------------------- Footer --------------------------------- */



.footer{
  border: red 2px dotted;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
    a{
    text-decoration: none;
    color: $text-color;
  }


&__apropos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: blue  dotted 2px;
  width: 40%;
  margin-left:10%;
}

&__contact{
  border: dotted 2px violet;
  width: max-content;
  margin-right: 10%;
  padding-left: 10px;
  text-align: left;

  &__iconesReseauxSociaux{
    border: dotted 2px skyblue;
    padding: 1em;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;

    [class*="ti-"]{
      border: blueviolet  solid 2px;
      color: $title-color;
      font-size: 2em;
    }
  }
    
}

&__mailHotel{
  text-decoration: underline;
  text-decoration-color: $accent-color;
  font-weight:600;
}
}

&__mentionsLégales{
  width: 100%;
  text-align: center;
  padding: 2em;
  background-color: $darker-bacground-color;
  
    
  }

  

