/* --------------------------------- Footer --------------------------------- */

footer{
  h3{
    font-family: $font-family-title-h2;
    font-size: $font-size-m;
    font-weight:500;
}
  p{
    font-family: $font-family-text;
    font-size: $font-size-xs;
  }
}
