/* --------------------------------- Header --------------------------------- */
.header{
  text-align: center;
  padding: 50px 20px;
  background: url("ressources Ducsman/images/slider/chambre-main.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;


}