/* --------------------------------- Navigation --------------------------------- */
.nav-principal {
  background-color: #000000;
  padding: 15px 30px;
  align-items: center;
  border-bottom: 1px solid #444;
  width: 20%;
  height: 100vh;
  float: left;
  position: fixed;
  text-align: center;

}
.icon {         //setting for width of information icons box
  width: 80px;
  text-align:center ;
  font-size: 40px;
  color : $accent-color;
}

.nav-principal .container {

  align-items: center;
}

.nav-principal h1 {
  margin-left: 15px;
  font-size: 1.8rem;
  color: #e0c080;
}

.nav-principal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top:50px;
  margin-bottom: 50px;
}

.nav-principal ul li {
  margin: 0 15px;
}

.nav-principal ul li a {
  text-decoration: none;
  color: #ffffffa4;
  font-weight: bold;
  transition: color 0.3s;
  line-height: 3em;
  text-align: left;
}

.nav-principal ul li a:hover {
  color: #e0c080;
}

.contact-information {
  display: flex;
  align-items: center;
}

.contact-information h4 {
  font-size: 1.2rem;
  margin: 0;
  color: #e0c080;
}