.navbar{
  background-color: $nav-background-color;
  width: 20%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;

  .titre3{
    text-align: center;
    color: $accent-color;
    padding: 0;
  }
  .titregold{
    text-align: center;
    color: $title-color;

  .navbar ul{
    list-style: none;
  }

  }

  
}