/* --------------------------------- Buttons --------------------------------- */

.cinqetoiles{
  color: $accent-color;
  background-color: rgba(255,255,255,0);
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

// --->bout de code à insérer dans le html<---
    
    // <div class="cinqetoiles">
    //   <span class="ti-star"></span>
    //   <span class="ti-star"></span>
    //   <span class="ti-star"></span>
    //   <span class="ti-star"></span>
    //   <span class="ti-star"></span>
    // </div>

// -----------------------------------------------------------------

    .btn-reserver {
      font-family: $font-family-sub-title;
      color: #ffffff;
      font-size: 20px;
      padding: 5px 10px 5px 10px;
      border: solid #ffffff 2px;
      text-decoration: none;
      background-color: rgba(255,255,255,0);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      position: absolute;
      left: 75%;
      bottom: 100%;
    }

    // -----------------------------------------------------------------


    .btn-savoirplus{
      background-color: $accent-color;
      color: $title-color;
      font-family: $font-family-sub-title;
      text-transform: uppercase;
      letter-spacing: 0.5cap;
      
    }

    // -----------------------------------------------------------------

    .numtel{
      display: flex;
  
      .numtel__icon{
        font-size: $font-size-l;
        display: flex;
        align-items: center;
      }

      .numtel__text{
        padding-left: 1em;
        font-size: $font-size-m;
      }

    }

  //   ----------bout de code à insérer dans le HTML--------------
  //   <div class="numtel">

//   <div class="numtel__icon">
//   <span class="gold"><span class="flaticon-call"></span></span>
// </div>

// <div class="numtel__text">
//   <p class="textdescription">Informations <span class="esperluette">&</span> Réservations</p>
//   <div><span class="gold">03 20 01 02 03</span></div>
// </div>

// </div>

// -----------------------------------------------------------------

.esperluette{
  font-family: $font-family-text;
  font-weight: 300;
}

