/* --------------------------------- Buttons --------------------------------- */

.cinqetoiles{
  background-color:$accent-color ;
  color:$title-color ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

// --->bout de code à insérer dans le html<---

// <div class="cinqetoiles">
//       <p class="ti-star"></p>
//       <p class="ti-star"></p>
//       <p class="ti-star"></p>
//       <p class="ti-star"></p>
//       <p class="ti-star"></p>
//     </div>