/* --------------------------------- Default theme --------------------------------- */

body{
  overflow-x: hidden;
  background-color: $main-background-color;
  width: 70%;
  margin: auto;
<<<<<<< HEAD
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  
  a {
    color: #f5f5f5;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: $accent-color;
  }
=======
  
>>>>>>> abc4ac9f8e314bdce245f4ca088c65d9af7a2f89
}




<<<<<<< HEAD

=======
>>>>>>> abc4ac9f8e314bdce245f4ca088c65d9af7a2f89
