/* --------------------------------- Default theme --------------------------------- */

body{
  overflow-x: hidden;
  background-color: $main-background-color;
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  
  a {
    color: #f5f5f5;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: $accent-color;
  }
}




