/* --------------------------------- detail-chambre ------------------ */

/* Style global */

.container-prancipal {
  width: 80%;
  margin-left: 20%;
  flex-grow: 1;
  margin-left: 24%;
  font-family: $font-family-text;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
  color: #f7f7f7;
}

p {
  line-height: 1.6;
  margin: 0 0 10px;
  color: #f7f7f78a;
}

/* Section Hero */
.hero {
  background: url(images/rooms/chambre-deluxe.jpg) center/cover; 
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero {
  background-color: rgba(33, 33, 33, 0.008);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}



.hero-content {
  padding: 20px;
}

.hero-content h2 {
  font-size: 2.5rem;
}

/* Section Details */
.details {
  padding: 50px 30px;
}

.details .container {
  display: flex;
  gap: 20px;
  margin-left: 50px;
}
.content {
  padding-right: 100px;
}

.details .content {
  flex: 2;
}

.details .aménagements {
  flex: 1;
  background-color: #33333300;
  padding: 20px;
  margin-top: 40px;
  margin-left: 20px;
}

.aménagements h4 {
  margin-bottom: 15px;
  padding-bottom: 10px;
}


/* Section Check-in / Check-out */
.chech11 {
  padding: 30px;
  background-color: #222;
}

.chech {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.check-in,
.check-out {
  flex: 1;
}

.check-in ul,
.check-out ul {
  list-style: none;
  padding: 0;
}

.check-in ul li,
.check-out ul li {
  margin-bottom: 10px;
}


.check-in ul li::before {
  content: "\2713";
  margin-right: 10px;
  color: #d4a373;
}

.check-out ul li::before {
  content: "\2713";
  margin-right: 10px;
  color: #d4a373;
}

.details .info-icon {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.details .info-icon .flaticon-towel,
.details .info-icon .flaticon-wifi,
.details .info-icon .flaticon-group,
.details .info-icon .flaticon-marker,
.details .info-icon .flaticon-breakfast,
.details .info-icon .flaticon-swimming {
  font-size: 24px;
  color: #c9a368;
  margin-right: 10px;
}

.details .info-icon .i-text p {
  margin: 0;
  color: #bbb;
}

.details .info-icon {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.details .info-icon .flaticon-towel,
.details .info-icon .flaticon-wifi,
.details .info-icon .flaticon-group,
.details .info-icon .flaticon-marker,
.details .info-icon .flaticon-breakfast,
.details .info-icon .flaticon-swimming {
  font-size: 18px;
  color: #c9a368;
  margin-right: 10px;
}

.details .info-icon .i-text p {
  margin: 0;
  color: #bbb;
}


/* Style button */
button {
  background-color: #68666492;
  border: none;
  padding: 10px 20px;
  color: #ffffffa8;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 50px;
}

button:hover {
  background-color: $accent-color;
}


.slogant {
  color: #d4a373;
}
.aménagements ul li {
  list-style: none;
  color: #ffffff9a;
}
.tail {
  display: flex;
  margin-left: 25px;
}

.tail .vide2 {
  flex: 1;
  background-color: #c0202000;
  padding: 20px;
  width: 50%;
}
 .centre-page {
width: 55%;
margin-left: 50px;
 }




