/* --------------------------------- Typography rules --------------------------------- */

/* --------------------------------- Typography rules --------------------------------- */

.titre1{ 
  color: $title-color;
  font-size: $font-size-xl;
  font-family: $font-family-title;
  text-transform: uppercase;
  letter-spacing: 0.7cap;
  margin: 0em;
}

.titre2{
  color: $title-color;
  font-size: $font-size-l;
  font-family: $font-family-title;
  text-align: start;
  margin: 0em;
  padding: 0em;
}

.titre3{
  color: $title-color;
  font-size: $font-size-m;
  font-family: $font-family-title;
  text-align: start;
  margin: 0em;
  padding: 0em;
}

.titre4{
  color: $title-color;
  font-size: $font-size-s;
  font-family: $font-family-title;
  text-align: start;
  margin: 0em;
  padding: 0em;
}

.textdesciption{
  color: $text-color;
  font-size: $font-size-s;
  font-family: $font-family-text;
  text-align: start;
  margin: 0em;
  padding: 0em;
}

.titregold{
  color: $accent-color;
  font-size: $font-size-s;
  font-family: $font-family-sub-title;
  text-transform: uppercase;
  letter-spacing: 0.5cap;
  text-align: start;
  margin: 0em;
  padding: 0em;
}

.titlemini{
  color: $title-color;
  font-family: $font-family-title;
  font-size: $font-size-m;
  line-height: 0.7;
}

.gold{
  color: $accent-color;
}

.ti-check{
  color: $accent-color;
}

.font-bold{
  font-weight: 800;
}

.nav-titre3{
  color: $title-color;
  font-size: $font-size-s;
  font-family: $font-family-sub-title;
  text-align: center;
  letter-spacing: 0.8cap;
  margin: 0em;
  padding: -.80em;
  text-transform: uppercase;
}

.title-mini-footer{
  font-family: $font-family-sub-title;
  color: $text-color;

}
